<mat-card>Registro de Consultas</mat-card>
<br>
<div class="example-container">
    <mat-form-field>
        <mat-select placeholder="Busque aqui el paciente...">
          <mat-option *ngFor="let reg of pacientes">{{reg.ci}} - {{reg.nombres}} {{reg.apellidos}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Busque aqui la especialidad...">
        <mat-option *ngFor="let reg of especialidades">{{reg.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>    

    <mat-form-field>
      <mat-select placeholder="Busque aqui el medico...">
        <mat-option *ngFor="let reg of medicos">{{reg.registro}} - {{reg.nombres}} {{reg.apellidos}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Escoja una fecha..." [max]="maxFecha" [(ngModel)]="fechaSeleccionada">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
