<mat-card>Ingrese los datos de la Especialidad</mat-card>

<br>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmExamen="ngForm">

    <div [hidden]="true">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="ID" required formControlName="id">
      </mat-form-field>
    </div>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Examen..." required formControlName="nombre">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Descripcion..." required formControlName="descripcion">
    </mat-form-field>    
  
    <button mat-raised-button color="primary" type="submit" [disabled]="frmExamen.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
    <button mat-raised-button color="warn" routerLink='/examenes' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
  </form>
