<router-outlet></router-outlet>

<mat-toolbar>Listado de Pacientes</mat-toolbar>

<div class="example-container mat-elevation-28">
    
    <!-- este seria el div donde esta el campo para hacer el filtro -->
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar paciente...">
        </mat-form-field>
    </div>
    <!-- esta seria la tabla con nuestro listado -->
    <mat-table [dataSource]="listaDataSource" matSort> <!-- con el atributo matSort permitimos que nuestro datasource sea ordenable-->
        <ng-container matColumnDef="idPaciente">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.idPaciente}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="nombres">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.nombres}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="apellidos">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.apellidos}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="documento">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
            <mat-cell *matCellDef="let fila"> {{fila.ci}} </mat-cell>
          </ng-container>  
          
        <ng-container matColumnDef="direccion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </mat-header-cell>
            <mat-cell *matCellDef="let fila"> {{fila.direccion}} </mat-cell>
          </ng-container>           
    
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let fila">
            <!-- [routerLink]="['miruta',obj.id]" ---- Esta es la forma de pasar parametros en la url en angular 6 -->
            <button mat-button color="primary" [routerLink]="['edicion',fila.idPaciente]">Actualizar</button> 
            <button mat-button color="warn" (click)="eliminar(fila.idPaciente)">Eliminar</button>
          </mat-cell>
        </ng-container>
    
        <!-- aqui enlazamos nuestro datasource con el array de columnas a mostrar -->
        <mat-header-row *matHeaderRowDef="columnasMostradas"></mat-header-row>
        <mat-row *matRowDef="let fila; columns: columnasMostradas;">
    
        </mat-row>
      </mat-table>
    
      <!-- con [length]="cantRegistros" establecemos la cantidad de registros que tener el listado segun nuestra BD; esto para la paginacion -->
      <!-- con (page)="mostrarsMas($event)" ejecutamos una peticion para listar de manera paginada -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantRegistros" (page)="mostrarMas($event)"></mat-paginator>
</div>

<br>

<button mat-fab color="primary" style="float: right;" routerLink="/pacientes/nuevo">
    <mat-icon>create</mat-icon>
</button>