<router-outlet></router-outlet>

<mat-toolbar>Listado de Medicos</mat-toolbar>

<div class="example-container mat-elevation-28">
    
    <!-- este seria el div donde esta el campo para hacer el filtro -->
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar medico...">
        </mat-form-field>
    </div>
    <!-- esta seria la tabla con nuestro listado -->
    <mat-table [dataSource]="listaDataSource" matSort> <!-- con el atributo matSort permitimos que nuestro datasource sea ordenable-->
        <ng-container matColumnDef="idMedico">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.idMedico}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="nombres">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.nombres}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="apellidos">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.apellidos}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="documento">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
            <mat-cell *matCellDef="let fila"> {{fila.ci}} </mat-cell>
          </ng-container>  
        
    
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let fila">
            <button mat-button color="primary" (click)="openModal(fila)">Actualizar</button> 
            <button mat-button color="warn" (click)="eliminar(fila.idMedico)">Eliminar</button>
          </mat-cell>
        </ng-container>
    
        <!-- aqui enlazamos nuestro datasource con el array de columnas a mostrar -->
        <mat-header-row *matHeaderRowDef="columnasMostradas"></mat-header-row>
        <mat-row *matRowDef="let fila; columns: columnasMostradas;">
    
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<button mat-fab color="primary" style="float: right;" (click)="openModal()">
    <mat-icon>create</mat-icon>
</button>