<router-outlet></router-outlet>

<div *ngIf="route.children.length === 0">

  <mat-toolbar>Listado de Especialidades</mat-toolbar>

  <div class="example-container mat-elevation-28">
        
      <div class="example-header">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar especialidad...">
          </mat-form-field>
      </div>
      
      <mat-table [dataSource]="listaDataSource" matSort> 
          <ng-container matColumnDef="idEspecialidad">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let fila"> {{fila.idEspecialidad}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </mat-header-cell>
            <mat-cell *matCellDef="let fila"> {{fila.nombre}}</mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let fila">
              <button mat-button color="primary" [routerLink]="['edicion',fila.idEspecialidad]">Actualizar</button> 
              <button mat-button color="warn" (click)="eliminar(fila.idEspecialidad)">Eliminar</button>
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="columnasMostradas"></mat-header-row>
          <mat-row *matRowDef="let fila; columns: columnasMostradas;">
      
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
  <br>
  
  <button mat-fab color="primary" style="float: right;" routerLink="/especialidades/nuevo">
      <mat-icon>create</mat-icon>
  </button>
  
</div>