<div class="example-container">
    <!-- creamos el toolbar  -->
    <mat-toolbar color="primary" class="example-toolbar">
      <!-- botones para abrir y cerrar menu    -->
      <button mat-icon-button (click)="sidenav.toggle()"> <!-- con el evento dentro del evento click con la funcion sidenav.toggle() abrimos/cerramos el menu-->
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>

        <!-- nombre de la aplicacion en el toolbar -->
        <h1 class="example-app-name">MEDIAPP</h1>

        <span class="example-spacer"></span>

        <!-- boton de menu de opciones (tres puntitos verticales) -->
        <button mat-icon-button [matMenuTriggerFor]="menu"> <!--Le llamamos al menu con este trigger, el menu esta anotado con #menu-->
            <mat-icon>more_vert</mat-icon>
        </button>
        <!-- menu que aparece al darle click al boton de los tres puntitos -->
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/perfil">
                <mat-icon>account_box</mat-icon>
                <span>Mi Perfil</span>
            </button>
            <button mat-menu-item routerLink="/login" (click)="sidenav.opened = false">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <!-- para la creacion del menu comenzamos primeramente con el contenedor -->
    <mat-sidenav-container class="example-sidenav-container" >
        <!-- este seria el menu en si -->
        <mat-sidenav #sidenav mode="side" style="width: 200px" >
            <!-- mostramos una imagen en el menu -->
            <img src="assets/logo-sistema.png" width="64">
            <!-- y asi configuramos cada opcion de menu -->
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/buscar" style="cursor: pointer" >
                <mat-icon>search</mat-icon>
                <span>Buscar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/consultas" style="cursor: pointer" > <!--el evento sidenav.toggle() esta asociado al menu #sidenav-->
                <mat-icon>insert_drive_file</mat-icon>
                <span>Registrar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/consulta-especial" style="cursor: pointer" >
                <mat-icon>insert_drive_file</mat-icon>
                <span>Registrar E.</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/especialidades" style="cursor: pointer" >
                <mat-icon>star_rate</mat-icon>
                <span>Especialidades</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/medicos" style="cursor: pointer" >
                <mat-icon>healing</mat-icon>
                <span>Médicos</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/examenes" style="cursor: pointer" >
                <mat-icon>assignment</mat-icon>
                <span>Examenes</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pacientes" style="cursor: pointer" >
                <mat-icon>accessibility</mat-icon>
                <span>Pacientes</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/reporte" style="cursor: pointer" >
                <mat-icon>assessment</mat-icon>
                <span>Reportes</span>
            </button>
        </mat-sidenav>
        <!-- y aqui se reemplazaran los componentes -->
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>