<router-outlet></router-outlet>

<mat-toolbar>Listado de Examenes</mat-toolbar>

<div class="example-container mat-elevation-28" *ngIf="route.children.length === 0">
    
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar examen...">
        </mat-form-field>
    </div>
    
    <mat-table [dataSource]="listaDataSource" matSort> 
        <ng-container matColumnDef="idExamen">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.idExamen}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Examen </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.nombre}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.descripcion}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let fila">
            <button mat-button color="primary" [routerLink]="['edicion',fila.idExamen]">Actualizar</button> 
            <button mat-button color="warn" (click)="eliminar(fila.idExamen)">Eliminar</button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="columnasMostradas"></mat-header-row>
        <mat-row *matRowDef="let fila; columns: columnasMostradas;">
    
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<button mat-fab color="primary" style="float: right;" routerLink="/examenes/nuevo">
    <mat-icon>create</mat-icon>
</button>
