<mat-card>Ingrese los datos de la Especialidad</mat-card>

<br>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmEspecialidad="ngForm">

    <div [hidden]="true">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="ID" required formControlName="id">
      </mat-form-field>
    </div>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Especialidad..." required formControlName="nombre">
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="frmEspecialidad.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
    <button mat-raised-button color="warn" routerLink='/especialidades' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
  </form>