<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Nombres" [(ngModel)]="registro.nombres">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Apellidos" [(ngModel)]="registro.apellidos">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Registro" [(ngModel)]="registro.registro">
  </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
